@mixin font-face($font-name, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url("#{fonts/inter/Inter-Italic-VariableFont_opsz,wght}.ttf") format(ttf),
          url("#{Inter-VariableFont_opsz,wght}.ttf") format(ttf);
      font-weight: $weight;
      font-style: $style;
    }
  }