@mixin font-face($font-name, $weight: normal, $style: normal) {
    @font-face {
      font-family: quote($font-name);
      src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
      font-weight: $weight;
      font-style: $style;
    }
  }