body{
  text-rendering: optimizelegibility;
}
#demo2 {
    margin-left: 500px;
}
div.demo{
    width: 500px;
    position: absolute;
    margin-top: 30px;
}
#ziffern {
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
}
canvas {
    position: absolute;
    z-index: 99999999;
    opacity: 0;
}
.value {
    text-align: center;
    margin-top: -25px;
}

.value2 {
    background-color: #000;
    border-radius: 97px;
    box-sizing: border-box;
    color: red;
    font-size: 50px;
    height: 186px;
    left: 157px;
    padding-top: 60px;
    position: absolute;
    text-align: center;
    top: 158px;
    width: 186px;
    z-index: 99;
}